.edit-form__edit {
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding: 25.4px 22px 75px;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .edit-form__edit {
    font-size: 24px;
    line-height: 29px;
    padding: 34px 64px 49px 36px;
  }
}
