.page {
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: black;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1280px) {
  .page {
    max-width: 1280px;
    margin: 0 auto;
  }
}

