.place__name_padding-diff {
  padding-top: 26px;
  padding-bottom: 27px;
}

@media screen and (min-width: 1280px) {
  .place__name_padding-diff {
    padding-top: 25px;
    padding-bottom: 26px;
  }
}
