.place__like {
  display: block;
  background-image: url(../../../../src/images/like.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  min-width: 23px;
  min-height: 19px;
  padding: 0;
  margin-right: 19px;
  cursor: pointer;
}

.place__like:hover {
  opacity: 50%;
}

@media screen and (min-width: 1280px) {
  .place__like {
    margin-top: 4px;
    margin-bottom: 3px;
  }
}
