@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__icon/profile__icon.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__add/profile__add.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/__list/places__list.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__photo/place__photo.css);
@import url(../blocks/place/__delete/place__delete.css);
@import url(../blocks/place/__cell/place__cell.css);
@import url(../blocks/place/__name/place__name.css);
@import url(../blocks/place/__like/place__like.css);
@import url(../blocks/place/__like/_active/place__like_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__profile-form/popup__profile-form.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__save/popup__save.css);

@import url(../blocks/popup/__cards-form/popup__cards-form.css);
@import url(../blocks/popup/__make/popup__make.css);

@import url(../blocks/popup/_type/_photo/popup_type_photo.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__photo/popup__photo.css);
@import url(../blocks/popup/__caption/popup__caption.css);

